@using PAS.Domain.Enums

@typeparam TId
@typeparam TEntityId
@typeparam TEntity
@typeparam TExtendedAttribute

<PageTitle Title="@string.Format("Manage {0} Extended Attributes", EntityName)" Description="@Description" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTabs Elevation="25" Rounded="true" Centered="true" ApplyEffectsToContainer="true" AlwaysShowScrollButtons="true" @bind-ActivePanelIndex="_activeGroupIndex" @ref="_mudTabs">
        @foreach (var @group in GroupedExtendedAttributes.Keys)
        {
            var selectedExtendedAttributesInGroup = GroupedExtendedAttributes[@group].Where(c => c.IsActive).ToList();
            var allSelectedExtendedAttributesInGroup = GroupedExtendedAttributes[@group].ToList();

            <MudTabPanel Text="@group" BadgeData="@($"{selectedExtendedAttributesInGroup.Count}/{allSelectedExtendedAttributesInGroup.Count}")" Style="padding-right: 43px;" BadgeColor="@GetGroupBadgeColor(selectedExtendedAttributesInGroup.Count, allSelectedExtendedAttributesInGroup.Count)">
                <MudTable Hover="true" Elevation="25" Items="@allSelectedExtendedAttributesInGroup" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" Filter="Search" @bind-roleClaims="_extendedAttributes" @bind-SelectedItem="_selectedItem" CustomHeader="true">
                    <ToolBarContent>
                        <div class="justify-center mud-text-align-center">
                            @if (_canCreateExtendedAttributes)
                            {
                                <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => InvokeModal())">Create</MudButton>
                                <MudButton DisableElevation Variant="Variant.Filled" OnClick="Reset" IconColor="Color.Surface" Color="Color.Secondary">Reload</MudButton>
                                @if (_canExportExtendedAttributes)
                                {
                                    <MudButton DisableElevation Variant="Variant.Filled" OnClick="ExportToExcel" StartIcon="@Icons.Custom.FileFormats.FileExcel" IconColor="Color.Secondary" Color="Color.Surface" Style="margin-left: 5px;">Export</MudButton>
                                }
                            }
                            else
                            {
                                <MudButton DisableElevation Variant="Variant.Filled" OnClick="Reset" IconColor="Color.Surface" Color="Color.Secondary">Reload</MudButton>
                                @if (_canExportExtendedAttributes)
                                {
                                    <MudButton DisableElevation Variant="Variant.Filled" OnClick="ExportToExcel" StartIcon="@Icons.Custom.FileFormats.FileExcel" IconColor="Color.Secondary" Color="Color.Surface" Style="margin-left: 5px;">Export</MudButton>
                                }
                            }
                        </div>
                        <MudToolBarSpacer />
                        @if (_canSearchExtendedAttributes)
                        {
                            <MudTextField @bind-Value="_searchString" Immediate="true" FullWidth=false Placeholder="@string.Format("Search For {0} Extended Attributes", EntityName)" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3"></MudTextField>
                        }
                    </ToolBarContent>
                    <HeaderContent>
                        @if (_canExportExtendedAttributes)
                        {
                            <MudTHeadRow IgnoreCheckbox="true">
                                <MudTh colspan="6">
                                    <MudSwitch @bind-Checked="@_includeEntity" Color="Color.Primary" Style="margin-left: 5px;">Include Entity fields (Export)</MudSwitch>
                                </MudTh>
                                <MudTh colspan="5">
                                    <MudSwitch @bind-Checked="@_onlyCurrentGroup" Color="Color.Primary" Style="margin-left: 5px;">Only Selected Group (Export)</MudSwitch>
                                </MudTh>
                            </MudTHeadRow>
                        }
                        <MudTHeadRow IgnoreCheckbox="true">
                            <MudTh><MudTableSortLabel SortBy="SortById">Id</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="SortById">Entity Id</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="SortByType">Type</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="SortByKey">Key</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="SortByValue">Value</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="SortByExternalId">External Id</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="SortByGroup">Group</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="SortByDescription">Description</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="SortByIsActive">Is Active</MudTableSortLabel></MudTh>
                            <MudTh>Owner</MudTh>
                            <MudTh Style="text-align: right">Actions</MudTh>
                        </MudTHeadRow>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Id">@context.Id</MudTd>
                        <MudTd DataLabel="Entity Id">@context.EntityId</MudTd>
                        <MudTd DataLabel="Type">@context.Type</MudTd>
                        <MudTd DataLabel="Key">
                            <MudHighlighter Text="@context.Key" HighlightedText="@_searchString" />
                        </MudTd>
                        <MudTd DataLabel="Value">
                            @if (context.Type == EntityExtendedAttributeType.Decimal)
                            {
                                <MudHighlighter Text="@context.Decimal?.ToString()" HighlightedText="@_searchString" />
                            }
                            else if (context.Type == EntityExtendedAttributeType.Text)
                            {
                                <MudHighlighter Text="@context.Text" HighlightedText="@_searchString" />
                            }
                            else if (context.Type == EntityExtendedAttributeType.DateTime)
                            {
                                <MudHighlighter Text="@context.DateTime?.ToString()" HighlightedText="@_searchString" />
                            }
                            else if (context.Type == EntityExtendedAttributeType.Json)
                            {
                                <MudHighlighter Text="@context.Json" HighlightedText="@_searchString" />
                            }
                        </MudTd>
                        <MudTd DataLabel="External Id">
                            <MudHighlighter Text="@context.ExternalId" HighlightedText="@_searchString" />
                        </MudTd>
                        <MudTd DataLabel="Group">
                            <MudHighlighter Text="@context.Group" HighlightedText="@_searchString" />
                        </MudTd>
                        <MudTd DataLabel="Description">
                            <MudHighlighter Text="@context.Description" HighlightedText="@_searchString" />
                        </MudTd>
                        <MudTd DataLabel="Is Active"><MudCheckBox ReadOnly @bind-Checked="@context.IsActive" Disabled="@(!_canEditExtendedAttributes)" Color="Color.Secondary" /></MudTd>
                        <MudTd DataLabel="Owner">
                            @if (context.CreatedBy == CurrentUserId)
                            {
                                <MudButton Variant="Variant.Filled"
                                           StartIcon="@Icons.Material.Filled.Face"
                                           IconColor="Color.Secondary"
                                           Size="Size.Small"
                                           Color="Color.Surface"
                                           Link="/account">
                                    you
                                </MudButton>
                            }
                        </MudTd>
                        <MudTd DataLabel="Actions" Style="text-align: right">
                            @if ((_canEditExtendedAttributes || _canDeleteExtendedAttributes) && CurrentUserId == context.CreatedBy)
                            {
                                <MudMenu Label="Actions" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left" OffsetX="true">
                                    @if (context.CreatedBy == CurrentUserId)
                                    {
                                        @if (_canEditExtendedAttributes)
                                        {
                                            <MudMenuItem @onclick="@(() => InvokeModal(@context.Id))">Edit</MudMenuItem>
                                        }
                                        @if (_canDeleteExtendedAttributes)
                                        {
                                            <MudMenuItem @onclick="@(() => Delete(@context.Id))">Delete</MudMenuItem>
                                        }
                                    }
                                </MudMenu>
                            }
                            else
                            {
                                <MudButton Variant="Variant.Filled"
                                           DisableElevation="true"
                                           StartIcon="@Icons.Material.Filled.DoNotTouch"
                                           IconColor="Color.Secondary"
                                           Size="Size.Small"
                                           Color="Color.Surface">
                                    No Allowed Actions
                                </MudButton>
                            }
                        </MudTd>
                    </RowTemplate>
                    <FooterContent>
                        <MudSwitch @bind-Checked="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">Dense</MudSwitch>
                        <MudSwitch @bind-Checked="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">Striped</MudSwitch>
                        <MudSwitch @bind-Checked="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">Bordered</MudSwitch>
                    </FooterContent>
                    <PagerContent>
                        <TablePager />
                    </PagerContent>
                </MudTable>
            </MudTabPanel>
        }
    </MudTabs>
}